@use "vars";

.form-container {
  width: 300px;
  min-width: 300px;
  border: 1px solid grey;
  min-height: 400px;
  margin: vars.$spacing-unit;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: vars.$font-lrg;
      margin: vars.$spacing-unit;
    }

    input {
      margin: vars.$spacing-unit--half;
      display: block;
      width: 50%;
      border-bottom: vars.$border-unit--half solid black;
    }

    .password-container {
      margin: vars.$spacing-unit--half;
      display: flex;
      justify-content: center;
      position: relative;
      width: 50%;

      .password {
        margin: 0;
        width: 100%;
      }

      .password-icon {
        padding: 1px;
        position: absolute;
        top: -3px;
        right: 0;
        background-color: white;
      }
    }
  }
}

button {
  display: flex;
  justify-content: center;
  margin-top: vars.$spacing-unit;
  border: vars.$border-unit--half solid black;
  padding: vars.$spacing-unit--half vars.$spacing-unit--double;
  height: 50px;
  width: 150px;
  user-select: none;

  &:hover {
    background-color: lightgrey;
    transition: background-color 0.25s ease, color 0.25s ease;
  }
}

.input-error {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: vars.$text-secondary;
  width: 101%;
  top: 399px;
  opacity: 1;
  padding: vars.$spacing-unit;
  font-size: vars.$font-base;
  background-color: pink;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-error-open {
  height: 150px;
  transition: height 0.25s ease;
}

.input-error-closed {
  padding: 0;
  height: 0px;
  transition: height 0.25s ease;
}
