@use "vars";
@import "include-media";

.navContainer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: max-content;

  ul {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    min-width: 275px;

    li {
      padding: 0 vars.$spacing-unit;
      font-weight: bold;
      font-size: vars.$font-xlrg;

      @include media("<=tablet") {
        font-size: 35px;
      }

      a {
        color: vars.$text-primary;
        transition: color 0.1s linear;

        &:hover {
          color: vars.$text-secondary;
          transition: color 0.1s linear;
        }
      }
    }
  }

  button {
    min-width: max-content;
    width: 100px;
    font-size: vars.$font-sm;
    padding: vars.$spacing-unit--half vars.$spacing-unit--half / 2;
    max-height: 40px;
    margin: 0;
  }
}

.countdownTimers {
  margin-top: vars.$spacing-unit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .countdownTimerContainer {
    padding: vars.$spacing-unit--half / 2 0;
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
}

.accessTokenContainer {
  margin-top: vars.$spacing-unit--half;
  padding-top: vars.$spacing-unit--half;
  border-top: vars.$border-unit--half solid vars.$blue;
  width: 50%;
  min-width: 500px;

  .accessToken {
    overflow-wrap: anywhere;
    font-size: vars.$font-sm;
    // font-style: italic;
  }
}
