@use "variables";

ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;

  li {
    padding: 0 variables.$spacing-unit;
    border-bottom: variables.$border-unit * 3 solid variables.$orange;
    font-style: italic;
    font-weight: bold;

    a {
      color: variables.$orange;
      transition: color 0.1s linear;

      &:hover {
        color: variables.$text-secondary;
        transition: color 0.1s linear;
      }
    }
  }
}
