:root {
  font-size: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
img,
strong,
ol,
ul,
li,
form,
label,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button,
input,
select,
textarea {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

input {
  border: none;
}

a {
  text-decoration: none;
}
