$spacing-unit: 1.6rem;
$spacing-unit--double: 3.2rem;
$spacing-unit--half: 0.8rem;

$font-base: 0.8rem;
$font-sm: 0.4rem;
$font-lrg: 1.6rem;

$border-unit: 2px;
$border-unit--double: 4px;
$border-unit--half: 1px;

$text-primary: black;
$text-secondary: #6a6c6f;
