$spacing-unit: 24px;
$spacing-unit--double: 48px;
$spacing-unit--half: 12px;

$font-lrg: 36px;
$font-base: 24px;
$font-sm: 12px;
$font-xlrg: 48px;

$border-unit: 2px;
$border-unit--double: 4px;
$border-unit--half: 1px;

$text-primary: black;
$text-secondary: #6a6c6f;
$orange: #d8783c;
