$spacing-unit: 1.6rem;
$spacing-unit--double: 3.2rem;
$spacing-unit--half: 0.8rem;

$border-unit: 2px;
$border-unit--double: 4px;
$border-unit--half: 1px;

$background-primary: #2d2d2d;
$background-secondary: #393939;
$background-footer: #242729;
$orange: #d8783c;
$blue: #3ca4ff;
$text-primary: #e7e8eb;
$text-secondary: #c4c8cc;
